<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        <!--xmlns:android   = "http://schemas.android.com/apk/res/android"-->
        id          = "com.sycamorelessons.www"
        versionCode = "010" 
        version     = "0.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Sycamore Lessons</name>

    <description>
        A small hybrid app that allows a teacher to quickly view their Sycamore School's classroom lesson plans.
    </description>

    <author href="https://app.sycamoreeducation.com/developer" email="development@sycamoreeducation.com">
        Brock Ellis
    </author>

    <icon src="icon.png" />
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    
    <preference name="target-device" value="handset" /> 
    
    <gap:url-scheme role="None">
        <scheme>sycamore</scheme>
    </gap:url-scheme>

    <access origin="*" />

    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    <gap:plugin name="nl.x-services.plugins.launchmyapp">
        <param name="URL_SCHEME" value="sycamorelessons" />
    </gap:plugin>
    
    <preference name="Orientation" value="portrait" />
    <preference name="permissions" value="none"/>
    
    <!--<gap:config-file platform="android" parent="/manifest/application">
        <activity android:launchMode="SingleTop" />
    </gap:config-file>-->
</widget>
